.fugue-category {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/category.png ) !important;
}
.fugue-plus-circle {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/plus-circle.png ) !important;
}
.fugue-minus-circle {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/minus-circle.png ) !important;
}
.fugue-pencil {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/pencil.png ) !important;
}
.fugue-disk-black {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/disk-black.png ) !important;
}
.fugue-tick-circle {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/tick-circle.png ) !important;
}
.x-statusbar .fugue-tick-circle {
    cursor: pointer;
    padding-left: 25px !important;
    background: transparent no-repeat 3px 2px;
}
.fugue-exclamation-red {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/exclamation-red.png ) !important;
}
.x-statusbar .fugue-exclamation-red {
    padding-left: 25px !important;
    background: transparent no-repeat 3px 2px;
}
.fugue-information {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/information.png ) !important;
}
.x-statusbar .fugue-information {
    padding-left: 25px !important;
    background: transparent no-repeat 3px 2px;
}
.fugue-document--plus {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/document--plus.png ) !important;
}	
.fugue-user {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/user.png ) !important;
}
.fugue-user--plus {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/user--plus.png ) !important;
}
.fugue-user--minus {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/user--minus.png ) !important;
}
.fugue-user--pencil {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/user--pencil.png ) !important;
}
.fugue-users {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/users.png ) !important;
}
.fugue-key {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/key.png ) !important;
}
.fugue-gear {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/gear.png ) !important;
}
.fugue-door-open-out {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/door-open-out.png ) !important;
}
.fugue-moneys {	
    background-image: url( ../external/resources/Fugue-icons-3.0-src/moneys.png )!important;
}
.fugue-moneys-cell {	
    background: url( ../external/resources/Fugue-icons-3.0-src/moneys.png ) no-repeat center !important;
}
.fugue-money--plus {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/money--plus.png ) !important;
}
.fugue-money--minus {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/money--minus.png ) !important;
}
.fugue-money--pencil {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/money--pencil.png ) !important;
}
.fugue-money--arrow {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/money--arrow.png ) !important;
}
.fugue-arrow {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/arrow.png ) !important;
}
.fugue-arrow-180 {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/arrow-180.png ) !important;
}
.fugue-arrow-circle {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/arrow-circle.png ) !important;
}
.fugue-flag-black {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/flag-black.png ) !important;
}
.fugue-terminal {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/terminal.png ) !important;
}
.fugue-burn {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/burn.png ) !important;
}
.fugue-wallet {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/wallet.png ) !important;
}
.fugue-wallet--minus {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/wallet--minus.png ) !important;
}
.fugue-wallet--pencil {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/wallet--pencil.png ) !important;
}
.fugue-wallet--plus {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/wallet--plus.png ) !important;
}
.fugue-reports {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/reports.png ) !important;
}
.fugue-report {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/report.png ) !important;
}
.fugue-control {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/control.png ) !important;
}
.fugue-control-pause {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/control-pause.png ) !important;
}
.fugue-broom {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/broom.png ) !important;
}
.fugue-sticky-notes {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/sticky-notes.png ) !important;
}
.qfinance-blue {
    color: blue;
}
.qfinance-red {
    color: red;
}
.x-panel-transparent-body {
    border-color:#99bbe8;
    background-color: transparent !important;
}
.layout-split {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/layout-split.png ) !important;
}
.layout-join {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/layout-join.png ) !important;
}
.layout {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/layout.png ) !important;
}
.puzzle--plus {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/puzzle--plus.png ) !important;
}
.puzzle {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/puzzle.png ) !important;
}
.globe-green {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/globe-green.png ) !important;
}
.fugue-bookmarks {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/bookmarks.png ) !important;
}
.fugue-bookmark--plus {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/bookmark--plus.png ) !important;
}
.fugue-bookmark--pencil {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/bookmark--pencil.png ) !important;
}
.fugue-bookmark--minus {
    background-image: url( ../external/resources/Fugue-icons-3.0-src/bookmark--minus.png ) !important;
}