#ux-taskbar {
	background:transparent none;
	height:30px;
	margin:0;
	padding:0;
	position:relative;
	z-index:12001;
}
#ux-taskbar .ux-taskbutton-left{
	background-position:0 0;
}
#ux-taskbar .ux-taskbutton-right{
	background-position:0 -28px;
}
#ux-taskbar .ux-taskbutton-center{
	background-position:0 -56px;
}

#ux-taskbar .x-btn-over .ux-taskbutton-left{
	background-position:0 -252px;
}
#ux-taskbar .x-btn-over  .ux-taskbutton-right{
	background-position:0 -280px;
}
#ux-taskbar .x-btn-over .ux-taskbutton-center{
	background-position:0 -308px;
}

#ux-taskbar .x-btn-click .ux-taskbutton-left{
	background-position:0 -168px;
}
#ux-taskbar .x-btn-click  .ux-taskbutton-right{
	background-position:0 -196px;
}
#ux-taskbar .x-btn-click .ux-taskbutton-center{
	background-position:0 -224px;
}

#ux-taskbar .active-win .ux-taskbutton-left{
	background-position:0 -84px;
}
#ux-taskbar .active-win  .ux-taskbutton-right{
	background:url( ../images/taskbar/black/taskbutton.gif ) no-repeat 0 -112px;
}
#ux-taskbar .active-win .ux-taskbutton-center{
	background:url( ../images/taskbar/black/taskbutton.gif ) repeat-x 0 -140px;
}
#ux-taskbar .active-win .ux-taskbutton-center button {
    color:#fff;
}
#ux-taskbar-start {
	background:#000000 url( ../images/taskbar/black/taskbar-start-panel-bg.gif ) repeat-x left top;
	left:0px;
	padding:0;
	position:absolute;
}
#ux-taskbar-start .x-toolbar {
	background: none;
	padding:0px;
	border:0px none;
}
#ux-taskbar .x-splitbar-h {
	background:#000000 url( ../images/taskbar/black/taskbar-split-h.gif ) no-repeat 0 0;
	width:8px;
}
#ux-taskbar .ux-startbutton-left{
	background-position:0 0;
}
#ux-taskbar .ux-startbutton-right{
	background-position:0 -30px;
}
#ux-taskbar .ux-startbutton-center{
	background-position:0 -60px;
}

#ux-taskbar .x-btn-over .ux-startbutton-left{
	background-position:0 -270px;
}
#ux-taskbar .x-btn-over  .ux-startbutton-right{
	background-position:0 -300px;
}
#ux-taskbar .x-btn-over .ux-startbutton-center{
	background-position:0 -330px;
}

#ux-taskbar .x-btn-click .ux-startbutton-left{
	background-position:0 -180px;
}
#ux-taskbar .x-btn-click  .ux-startbutton-right{
	background-position:0 -210px;
}
#ux-taskbar .x-btn-click .ux-startbutton-center{
	background-position:0 -240px;
}

#ux-taskbar .active-win .ux-startbutton-left{
	background-position:0 -90px;
}
#ux-taskbar .active-win  .ux-startbutton-right{
	background:url( ../images/taskbar/black/startbutton.gif ) no-repeat 0 -120px;
}
#ux-taskbar .active-win .ux-startbutton-center{
	background:url( ../images/taskbar/black/startbutton.gif ) repeat-x 0 -150px;
}
#ux-taskbar .active-win .ux-startbutton-center button {
    color:#fff;
}
#ux-taskbar .x-btn {
	margin: 1px 0 0 1px;
}

#ux-taskbar-start .x-btn {
	margin: 0;
}

#ux-taskbar button {
	/* width: 150px;
	overflow: hidden; */
	text-align: left;
	color: #ffffff;
}
.x-btn-text-icon .x-btn-center .logout {
	background-position:0pt 3px;
	background-repeat:no-repeat;
	padding:3px 0pt 3px 18px;
}
.x-btn-icon .ux-taskbutton-center .x-btn-text{
	background-position: center;
	background-repeat: no-repeat;
	height: 16px;
	width: 16px;
	cursor:pointer;
	white-space: nowrap;
    padding:0;
}
.x-btn-icon .ux-taskbutton-center{
	padding:1px;
}
.x-btn-text-icon .ux-taskbutton-center .x-btn-text{
	background-position: 0 6px;
	background-repeat: no-repeat;
	padding:7px 0px 7px 20px;
}
.x-btn-text-icon .ux-startbutton-center .x-btn-text{
	background-position: 0 4px;
	background-repeat: no-repeat;
	color:#000000 !important;
	font-weight:bold;
	padding:7px 0px 7px 28px;
}
.ux-startbutton-left, .ux-startbutton-right{
	font-size:1px;
    line-height:1px;
}
.ux-startbutton-left{
	width:10px;
	height:28px;
	background:url( ../images/taskbar/black/startbutton.gif ) no-repeat 0 0;
}
.ux-startbutton-right{
	width:10px;
	height:30px;
	background:url( ../images/taskbar/black/startbutton.gif ) no-repeat 0 -28px;
}
.ux-startbutton-left i, .ux-startbutton-right i{
	display:block;
    width:10px;
    overflow:hidden;
    font-size:1px;
    line-height:1px;
}
.ux-startbutton-center{
	background:url( ../images/taskbar/black/startbutton.gif ) repeat-x 0 -56px;
	vertical-align: middle;
	text-align:center;
	padding:0;
	cursor:pointer;
	white-space:nowrap;
}