/*!
 * Ext JS Library 3.3.0
 * Copyright(c) 2006-2010 Ext JS, Inc.
 * licensing@extjs.com
 * http://www.extjs.com/license
 */
#dpanels {
	width: 250px;
	float: right;
}
#dpanels .x-panel {
	margin: 15px;
}
#dpanels .x-date-picker {
	border: 0 none;
	border-top: 0 none;
	background: transparent;
}
#dpanels .x-date-picker td.x-date-active {
	background: #ffffff;
}
#dpanels .x-date-picker {
	width: 100% !important;
}
#spacer {
	height: 25px;
	float: left;
	width: 0;
	overflow: hidden;
	margin-top: 2px;
}
.save {
    background-image:url(../../shared/icons/save.gif) !important;
}
